<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>

  <connectionStrings>
    <add name="ClickStrategy.Properties.Settings.ClickStrategyConnectionString"
     connectionString="Data Source=KEZIN;Initial Catalog=ClickStrategy;Integrated Security=True"
     providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--<add key="TwsObj.HostIp" value=""/>
    <add key="TwsObj.Port" value="7496"/>
    <add key="TwsObj.ClientId" value="1"/>
    <add key="TwsObj.ClientIdOptionExpForm" value="2"/>-->

    <!--<add key="CONSTRING" value="Data Source=KT\KT;Initial Catalog=ClickStrategy;Persist Security Info=True;Integrated Security=SSPI"/>-->
    <add key="CONSTRING" value="Data Source=KEZIN;Initial Catalog=TestCodePerformance;Persist Security Info=True;Integrated Security=SSPI"/>
    <!--<add key="CONSTRING" value="Data Source=TARANG-PC\SQLEXPRESS;Initial Catalog=ClickStrategy;Persist Security Info=True;Integrated Security=SSPI"/>-->

    <!--<add key="emailAdd" value="tvisi.algo@gmail.com" />
    <add key="emailPwd" value="algoguru@2012" />
    <add key="EmailList" value="ankur.parikh11@gmail.com, suken1987@gmail.com, kashyapst@gmail.com" />-->
  </appSettings>
</configuration>